
.ant-advanced-search-form {

  background: #b6b1b1be;
  border: 1px solid #d9d9d9;
  border-radius: 6px;

}


img#taurus_logo {
  height: 100px;
  width: 200px;
  margin-bottom: 50px
}

.App-Header h1 {
  color:white;	
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: -30px
    
}

.App-Sider{
  text-align: center

}

.App-Sider h5 {
  text-align: center;
  align-content: center;
  color:grey

} 

.App-Content form {
  color:white;
  margin-left: 20px;
  /* margin-right:25%; */
  margin-top:10px;
  height:30px;
  width:65%;
}

.App-Content {
  display: flex;
}

button.ant-btn-primary.IssueToken {
  background-color: rgb(14, 204, 109);
  border-color: white;
  margin-top: 10px
}

button.ant-btn-primary.Export{
  background-color:grey;
  border-color: white;
  margin-top: 10px
}

button.ant-btn-primary:hover  {
 background-color: grey;
 border: white
}

.header {
  min-height: 100vh;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
